src/META-INF/wsdl/localhost_8080/BankWebService/BankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.bankservice.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.bankservice.dk/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="generateQuote" type="tns:generateQuote"/>

<xs:element name="generateQuoteResponse" type="tns:generateQuoteResponse"/>

<xs:complexType name="generateQuote">
<xs:sequence>
<xs:element name="request" type="xs:string" minOccurs="0"/>
<xs:element name="props" type="tns:basicProperties" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="basicProperties">
<xs:complexContent>
<xs:extension base="tns:amqBasicProperties">
<xs:sequence>
<xs:element name="appId" type="xs:string" minOccurs="0"/>
<xs:element name="clusterId" type="xs:string" minOccurs="0"/>
<xs:element name="contentEncoding" type="xs:string" minOccurs="0"/>
<xs:element name="contentType" type="xs:string" minOccurs="0"/>
<xs:element name="correlationId" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryMode" type="xs:int" minOccurs="0"/>
<xs:element name="expiration" type="xs:string" minOccurs="0"/>
<xs:element name="headers">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int" minOccurs="0"/>
<xs:element name="replyTo" type="xs:string" minOccurs="0"/>
<xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="amqBasicProperties" abstract="true">
<xs:complexContent>
<xs:extension base="tns:amqContentHeader">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="amqContentHeader" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generateQuoteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>